<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-4">
			
		  <p>&copy 2019 Gurjit Kaur Lab. 
                  <p>Site made by <a href="https://www.linkedin.com/in/yaman-parasher-944a0351/">Yaman Parasher</a> </p>
              <p>We are part of the <a href="http://www.dtu.ac.in/Web/Departments/Electronics/faculty/">Department of Electronics and Communication Engineering</a> at <a href="http://www.dtu.ac.in/">Delhi Technological University</a>.</p>
            		  
    
		</div>
		  <div class="col-sm-4">
			  <p> You can also find us on Twitter & Facebook!</p>
			  </div>
		
		<div class="col-sm-4">
		  Contact:<br />
		  Room No. FW4-TF-15
		  Mechanical Engineering Department Building<br />
		  Delhi Technological University<br />
	          Delhi-110042<br />
                  India<br />
		  
            (<a href="https://bit.ly/2Mh4dPF">Maps</a> )
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
